{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>ProFotoVideo</title>

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

  <link rel="stylesheet" href="{% static 'assets/css/carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/global.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/photos.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/videos.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plans.css' %}">
</head>
<body>
  <header>
    <a href="/"><h1>ProFotoVideo</h1></a> 
    
    <nav>
      <li><a href="/photo">Foto</a></li>
      <li><a href="/video">Video</a></li>
      <li><a href="/contact">Contact</a></li>
    </nav>
  </header>
  
  {% block content %} {% endblock %}

  <script src="{% static 'assets/js/carousel.min.js'%}"></script>
  <script src="{% static 'assets/js/lightbox-plus-jquery.min.js'%}"></script>
  <script src="{% static 'assets/js/index.js'%}"></script>
  <script src="https://player.vimeo.com/api/player.js"></script>
</body>
</html>