{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>ProFotoVideo</title>

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

  <link rel="stylesheet" href="{% static 'assets/css/carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/global.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/photos.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/videos.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plans.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">
</head>
<body>
  <header>
    <a href="{% url 'index' %}"><h1>ProFotoVideo</h1></a> 
    
    <nav>
      <li><a href="{% url 'photo' %}">Foto</a></li>
      <li><a href="{% url 'video' %}">Video</a></li>
      <li><a href="{% url 'albums' %}">Albume</a></li>
    </nav>
  </header>
  
  {% block content %} {% endblock %}

  <footer>
    <h3 class="sub-title">Contact</h3>
    <div class="contacts">
      <div>
        <h4>Cismas Claudiu</h4>
        <h4><a href="mailto:cismasclaudiu@gmail.com">cismasclaudiu@gmail.com</a></h4>
        <h4>0740751005</h4>
        <h4><a href="https://www.facebook.com/FotoVideoClaudiu">facebook</a></h4>
      </div>

      <div>
        <h4>Cotoi Valentin</h4>
        <h4><a href="mailto:valentincotoi@gmail.com">valentincotoi@gmail.com</a></h4>
        <h4>0740751005</h4>
        <h4><a href="https://www.facebook.com/cotoi.valentin.7">facebook</a></h4>
      </div>
    </div>
  </footer>

  <script src="{% static 'assets/js/carousel.min.js'%}"></script>
  <script src="{% static 'assets/js/lightbox-plus-jquery.min.js'%}"></script>
  <script src="{% static 'assets/js/index.js'%}"></script>
  <script src="https://player.vimeo.com/api/player.js"></script>
</body>
</html>