{% extends 'base.html' %}

{% block content %}
<h2 class="title">Pachete</h2>

<section class="plans">
  <div class="plan" id="standard">
    <h3>Pachet Standard</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
  </div>

  <div class="plan" id="premium">
    <h3>Pachet Premium</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x copii DVD pentru nasi</p>
  </div>

  <div class="plan" id="gold">
    <h3>Pachet Gold</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x albume pentru nasi 20x40</p>
    <p>2x copii DVD pentru nasi</p>
    <p>Sedinta foto Trash The Dress</p>
  </div>

  <div class="plan" id="platinum">
    <h3>Pachet Platinum</h3>
    <p>2 Cameramani</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x albume pentru nasi 20x40</p>
    <p>2x copii DVD pentru nasi</p>
    <p>Sedinta foto Trash The Dress</p>
    <p>Filmare cu drona</p>
    <p>1x stick USB de 64GB</p>
  </div>
</section>

<h2 class="title">Contact</h2>

<section class="contact">
  <div id="claudiu">
    <h3>Cismas Claudiu</h3>
    <h3><a href="mailto:cismasclaudiu@gmail.com">cismasclaudiu@gmail.com</a></h3>
    <h3>0740751005</h3>
    <h3><a href="https://www.facebook.com/FotoVideoClaudiu">facebook</a></h3>
  </div>
  <div id="valentin">
    <h3>Cotoi Valentin</h3>
    <h3><a href="mailto:valentincotoi@gmail.com">valentincotoi@gmail.com</a></h3>
    <h3>0740751005</h3>
    <h3><a href="https://www.facebook.com/cotoi.valentin.7">facebook</a></h3>
  </div>
</section>
{% endblock %}