{% extends 'base.html' %}

{% block content %}
<h2 class="title">Contact</h2>

<section class="plans">
  <div class="plan" id="standard">
    <h3>Pachet Standard</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
  </div>

  <div class="plan" id="premium">
    <h3>Pachet Premium</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x copii DVD pentru nasi</p>
  </div>

  <div class="plan" id="gold">
    <h3>Pachet Gold</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x albume pentru nasi 20x40</p>
    <p>2x copii DVD pentru nasi</p>
    <p>Sedinta foto Trash The Dress</p>
  </div>

  <div class="plan" id="complet">
    <h3>Pachet Complet</h3>
    <p>2 Cameramani</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x albume pentru nasi 20x40</p>
    <p>2x copii DVD pentru nasi</p>
    <p>Sedinta foto Trash The Dress</p>
    <p>Filmare cu drona</p>
    <p>1x stick USB de 64GB</p>
  </div>
</section>
{% endblock %}