{% extends 'base.html' %}

{% block content %}
<h2 class="title" id="videos-title">Videoclipuri</h2>

<section class="videos">
  <div class="video-carousel">
    <iframe src="https://player.vimeo.com/video/329557408" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/329557408" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <iframe src="https://player.vimeo.com/video/329557408" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
</section>
{% endblock %}
