header {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: #111;
  overflow: hidden;
  position: fixed;
  transition: all .5s ease-in-out;
  top: 0;
  width: 100%;
  opacity: 0;
  animation: fadein .5s ease-in-out forwards;
  z-index: 1000;
}

header#index-header {
  display: none;
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header * {
  z-index: 100;
}

header + .title {
  margin-top: 120px;
}

header h1 {
  transition: all 0.2s;
}

header h1:hover {
  color: #00b7ff;
}

header nav {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
}

header nav li {
  margin-left: 20px;
}

header nav a {
  padding: 10px 10px;
  transition: all 0.2s;
  position: relative;
  left: -70px;
  display: flex;
}

header nav .photo-link:hover,
header nav .photo-link.active {
  color: #008cff;
}

header nav .video-link:hover,
header nav .video-link.active {
  color: #ffa600;
}

header nav .albums-link:hover,
header nav .albums-link.active {
  color: #ff4343;
}

header nav .photo-link:hover .icon,
header nav .photo-link.active .icon {
  filter: invert(.55) sepia(1) saturate(5) hue-rotate(180deg);
}

header nav .video-link:hover .icon,
header nav .video-link.active .icon {
  filter: invert(0.45) sepia(1) saturate(5) hue-rotate(-15deg);
}

header nav .albums-link:hover .icon,
header nav .albums-link.active .icon {
  filter: invert(0.5) sepia(1) saturate(50) hue-rotate(325deg);
}

header nav a .icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

header nav .photo-link:after {
  background: #008cff;
}

header nav .video-link:after {
  background: #ffa600;
}

header nav .albums-link:after {
  background: #ff4343;
}

header nav a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  right: 0;
  bottom: 0;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

header nav a:hover:after,
header nav .active:after {
  width: 100%;
  left: 0;
}

header nav a:hover {
  background-color: #222;
}

@media only screen and (max-width: 700px) {
  header {
    flex-direction: column;
    padding: 0;
    text-align: center;
    position: static;
  }

  header#index-header {
    display: none;
  }

  header + .title {
    margin-top: 50px;
  }

  header nav {
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
  }

  header nav li {
    margin-bottom: 20px;
  }

  header nav a {
    left: 0;
  }
}

@media only screen and (max-width: 420px) {
  header nav {
    align-items: center;
  }

  header nav > li {
    margin: 0 0 7px 0;
  }
}

@media only screen and (max-width: 350px) {
  header nav {
    flex-direction: column;
  }
}

@media only screen and (max-height: 600px) {
  header h1 {
    font-size: 24px;
  }

  header nav {
    margin-top: 20px;
    font-size: 18px;
  }

  header nav a {
    padding: 5px 10px;
  }
}