#hero {
  position: relative;
  font-size: 35px;
  z-index: 2;
  min-height: 100vh;
  margin-bottom: 150px;
}

#hero .hero-text {
  position: absolute;
  z-index: 10;
  top: 20vh;
  left: 100px;
  width: 750px;
  text-shadow: 1px 1px 1px #111;
}

#hero .links-group {
  margin-top: 70px;
}

#hero .links-group > * {
  display: inline-flex;
  position: relative;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px 10px 15px;
  margin-right: 10px;
  transition: all 0.3s;
}

#hero .links-group > *:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  bottom: 0;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

#hero .links-group > *:hover:after {
  width: 100%;
  left: 0;
}

#hero .links-group .photo-link:after,
#hero .links-group .photo-link:hover:after {
  background: #008cff;
}

#hero .links-group .video-link:after,
#hero .links-group .video-link:hover:after {
  background: #ffa600;
}

#hero .links-group .albums-link:after,
#hero .links-group .albums-link:hover:after {
  background: #ff4343;
}

#hero .links-group > * .icon {
  position: relative;
  width: 24px;
  height: 24px;
  top: 3px;
  left: -15px;
  opacity: 0;
  transition: all 0.1s;
}

#hero .links-group > *:hover .icon {
  opacity: 1;
  left: 10px;
}

#hero .links-group .photo-link .icon {
  filter: invert(.55) sepia(1) saturate(5) hue-rotate(180deg);
}

#hero .links-group .video-link .icon {
  filter: invert(0.45) sepia(1) saturate(5) hue-rotate(-15deg);
}

#hero .links-group .albums-link .icon {
  filter: invert(0.6) sepia(1) saturate(5) hue-rotate(310deg);
}

#hero .links-group .photo-link:hover {
  background-color: #111;
  color: #008cff;
}

#hero .links-group .video-link:hover {
  background-color: #111;
  color: #ffa600;
}

#hero .links-group .albums-link:hover {
  background-color: #111;
  color: #ff4343;
}

#hero .hero-image {
  -webkit-mask-image: radial-gradient(
    ellipse 55% 70% at 50% 35%,
    black 35%,
    transparent 95%
  );
  mask-image: radial-gradient(
    ellipse 55% 70% at 50% 35%,
    black 35%,
    transparent 95%
  );
  max-width: 120vw;
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
}

#hero #scrolldown-btn {
  position: absolute;
  bottom: 70px;
  left: 120px;
  font-size: 20px;
  padding: 50px;
  margin-top: 55px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.2s;
  animation: float 2s infinite ease-in-out;
}

#hero #scrolldown-btn .icon {
  height: 50px;
  width: 50px;
  transform: rotate(90deg);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

/* WIDTH QUERIES */

@media only screen and (max-width: 1850px) {
  #hero .hero-image {
    right: -150px;
    top: 0;
  }
}

@media only screen and (max-width: 1300px) {
  #hero {
    min-height: auto;
  }

  #hero .hero-image {
    top: 0px;
    right: 0px;
  }

  #hero .hero-text {
    position: static;
    text-align: center;
    margin: auto;
    padding-top: 70px;
  }

  #hero .links-group {
    margin-top: calc(50vw - 100px);
  }

  #hero .links-group > * .icon {
    opacity: 1;
    left: 10px;
  }

  #hero .links-group .photo-link {
    background-color: rgba(0, 140, 255, 0.2);
    color: #008cff;
  }
  
  #hero .links-group .video-link {
    background-color: rgba(255, 166, 0, 0.2);
    color: #ffa600;
  }
  
  #hero .links-group .albums-link {
    background-color: rgba(255, 67, 67, 0.2);
    color: #ff4343;
  }

  #hero #scrolldown-btn {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  #hero .hero-text {
    width: auto;
    font-size: 25px;
  }

  #hero .hero-description {
    padding: 0 10px;
  }

  #hero .links-group > *:hover:after {
    width: 0;
  }

  #hero #scrolldown-btn {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #hero {
    top: 50px;
    padding-bottom: 50px;
  }

  #hero .links-group {
    bottom: 300px;
  }

  #hero .hero-image {
    display: none;
  }

  #hero .links-group {
    margin-top: 100px;
  }
  
  #hero .links-group > * {
    font-weight: normal;
  }

  #hero .links-group .photo-link {
    color: #008cff;
    background-color: rgba(0, 140, 255, 0.2);
  }

  #hero .links-group .video-link {
    color: #ffa600;
    background-color: rgba(255, 166, 0, 0.2);
  }

  #hero .links-group .albums-link {
    color: #ff4343;
    background-color: rgba(255, 67, 67, 0.2);
  }

  #hero .links-group .photo-link .icon {
    filter: invert(.55) sepia(1) saturate(5) hue-rotate(180deg);
  }
  
  #hero .links-group .video-link .icon {
    filter: invert(0.45) sepia(1) saturate(5) hue-rotate(-15deg);
  }
  
  #hero .links-group .albums-link .icon {
    filter: invert(0.5) sepia(1) saturate(50) hue-rotate(325deg);
  }
}

@media only screen and (max-width: 500px) {
  #hero .hero-description {
    padding: 10px;
  }

  #hero .links-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: static;
    transform: none;
  }

  #hero .links-group > * {
    display: flex;
    margin: 5px;
  }
}

/* HEIGHT QUERIES */

@media only screen and (max-height: 700px) {
  #hero #scrolldown-btn {
    display: none;
  }
}

@media only screen and (max-height: 500px) {
  #hero .hero-text {
    font-size: 25px;
  }

  #hero .hero-image {
    top: -20vh;
  }

  #hero .links-group {
    bottom: 50px;
  }
}
