.photo-container {
  position: relative;
  margin: 0 20px 20px;
}

.photo-container a {
  display: block;
  overflow: hidden;
  border: 2px solid #999;
  margin: 0 auto 20px;
  border-radius: 5px;
}

.photo {
  transform: scale(1.07);
  opacity: 0;
  transition: opacity .5s;
}

.photo:hover {
  transform: scale(1.2);
  filter: grayscale(100%);
}

#photos {
  width: 85%;
  z-index: 2;
  margin: 0 auto 100px;
}

#photos .photo {
  width: 300px;
  cursor: zoom-in;
  transition: all 0.2s;
  overflow: hidden;
}

@media only screen and (max-width: 710px) {
  .photo-container a {
    width: 80%;
  }

  #photos .photo {
    width: 100%;
  }

  .photo:hover {
    transform: scale(1.07);
    filter: none;
  }
}

@media only screen and (max-width: 500px) {
  .photo-container a {
    width: 95%;
  }
}