.errornote,
.errorlist {
  background-color: #333;
  background: #333 !important;
  color: #fa4c4c !important;
}

ul.messagelist li {
  background: #006800 url(/static/admin/img/icon-yes.svg) 40px 12px no-repeat !important;
  color: #eee;
}

ul.messagelist li a {
  color: #ccc;
}


ul.messagelist li a:hover {
  color: #f9f9f9;
}