#changelist table tbody tr.selected {
  background: #213f3f;
  background-color: #212e3f !important;
}

#changelist-filter {
  background: #222 !important;
  border-left: 1px solid #aaa !important;
}

thead th a:link, thead th a:visited {
  color: #ddd !important;
}

table thead th .text a:focus, table thead th .text a:hover {
  background: #0f80ad !important;
}