{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
  <h1 id="head"><a href="/admin/">ProFotoVideo</a></h1>
{% endblock branding %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'assets/css/admin/global.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/admin/headers.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/admin/calendar.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/admin/forms.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/admin/links.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/admin/messages.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/admin/modules.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/admin/tables.css' %}">
{% endblock extrastyle %}