{% extends 'base.html' %}
{% load static %}

{% block title %}
ProFotoVideo | Albume
{% endblock title %}

{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'assets/css/albums.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bookblock.css' %}">
{% endblock %}

{% block content %}
<h2 class="title">Albume</h2>

<section id="albums">
  {% for album in albums %}
    <div class="album-wrapper">
      <div class="album">
        {% for slide in album.album_slides %}
          <div class="bb-item">
            <img src="{{ slide }}" alt="image01"/>
          </div>
        {% endfor %}
      </div>
      <nav>
        <a class="prev"><div class="arrow"></div></a>
        <a class="next"><div class="arrow"></div></a>
      </nav>
    </div>
  {% endfor %}
</section>
{% endblock content %}

{% block extrascripts %}
  <script src="{% static 'assets/js/modernizr.custom.js'%}"></script>
  <script src="{% static 'assets/js/jquerypp.custom.js'%}"></script>
  <script src="{% static 'assets/js/jquery.bookblock.min.js'%}"></script>
  <script src="{% static 'assets/js/pageFlip.js'%}"></script>
{% endblock extrascripts %}