{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="title">Albume</h2>

<section id="albums">
  {% for album in albums %}
    <div class="album-wrapper">
      <div class="album">
        {% for slide in album.album_slides %}
          <div class="bb-item">
            <img src="{{ slide }}" alt="image01"/>
          </div>
        {% endfor %}
      </div>
      <nav>
        <a class="prev"><div class="arrow"></div></a>
        <a class="next"><div class="arrow"></div></a>
      </nav>
    </div>
  {% endfor %}
</section>
{% endblock content %}