{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#151515">
  <meta name="google-site-verification" content="OT-rRhwjxq5TDGmCKJGY0lEx-KUvvOI2opw2UMJEpIg" />
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.png' %}"/>

  <meta name="Description" content="Fotografii, videoclipuri si albume profesionale pentru evenimentele importante din viata ta.">
  
  <title>{% block title %}{% endblock%}</title>

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

  {% block extrastyles %} {% endblock %}
  
  <link rel="stylesheet" href="{% static 'assets/css/global.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140420982-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140420982-1');
  </script>
</head>
<body>
  <header
    {% if request.get_full_path == "/" %}
      id="index-header"
    {% endif %}>

    <a href="{% url 'index' %}"><h1>ProFotoVideo</h1></a> 
    
    <nav>
      <li>
        <a 
        {% if 'photo' in request.path %}
          class="active photo-link"
        {% else %}
          class="photo-link"
        {% endif %}
        href="{% url 'photo' %}">
          Foto
          <img src="{% static 'assets/images/photo-camera.svg' %}" alt="Camera Icon" class="icon">
        </a>
      </li>

      <li>
        <a 
        {% if 'video' in request.path %}
          class="active video-link"
        {% else %}
          class="video-link"
        {% endif %}
        href="{% url 'video' %}">
          Video
          <img src="{% static 'assets/images/play-button.svg' %}" alt="Play Button Icon" class="icon">
        </a>
      </li>

      <li>
        <a 
        {% if 'albums' in request.path %}
          class="active albums-link"
        {% else %}
          class="albums-link"
        {% endif %}
        href="{% url 'albums' %}">
          Albume
          <img src="{% static 'assets/images/album.svg' %}" alt="Album Icon" class="icon">
        </a>
      </li>
    </nav>
  </header>
  
  {% block content %} {% endblock %}

  <footer>
    <h3 class="sub-title">Contact</h3>
    <div class="contacts">
      <div>
        <h4>Cismas Claudiu</h4>
        <h4><a href="mailto:cismasclaudiu@gmail.com">cismasclaudiu@gmail.com</a></h4>
        <h4>0740 751 005</h4>
        <h4><a href="https://www.facebook.com/FotoVideoClaudiu">facebook</a></h4>
      </div>

      <div>
        <h4>Cotoi Valentin</h4>
        <h4><a href="mailto:waly186@yahoo.com">waly186@yahoo.com</a></h4>
        <h4>0743 830 383</h4>
        <h4><a href="https://www.facebook.com/cotoi.valentin.7">facebook</a></h4>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  {% block extrascripts %} {% endblock %}
</body>
</html>