{% extends 'base.html' %}
{% load static %}

{% block title %}
ProFotoVideo
{% endblock title %}

{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'assets/css/videos.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/photos.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plans.css' %}">
{% endblock %}

{% block content %}

<section class="featured-video">
  <div class="video">
    {% for video in videos %}
      {% if video.isFeatured %}
        <iframe src="{{ video.url }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      {% endif %}
    {% endfor %}
  </div>
</section>

<h2 class="title">Fotografii</h2>

<section id="photos">
  {% for photo in photos %}
    <div class="photo-container">
      <a href="{{ photo.url }}" data-lightbox="photo">
        <img class="photo" src="{{ photo.url }}" alt="photo">
      </a>
    </div>
  {% endfor %}
</section>

<hr>

<h2 class="title">Pachete</h2>

<section class="plans">
  <div class="plan" id="standard">
    <h3>Pachet Standard</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
  </div>

  <div class="plan" id="premium">
    <h3>Pachet Premium</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x copii DVD pentru nasi</p>
  </div>

  <div class="plan" id="gold">
    <h3>Pachet Gold</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x albume pentru nasi 20x40</p>
    <p>2x copii DVD pentru nasi</p>
    <p>Sedinta foto Trash The Dress</p>
  </div>

  <div class="plan" id="platinum">
    <h3>Pachet Platinum</h3>
    <p>2 Cameramani</p>
    <p>1 Fotograf</p>
    <p>Filmare HD</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x albume pentru nasi 20x40</p>
    <p>2x copii DVD pentru nasi</p>
    <p>Sedinta foto Trash The Dress</p>
    <p>Filmare cu drona</p>
    <p>1x stick USB de 64GB</p>
  </div>
</section>
{% endblock %}

{% block extrascripts %}
  <script src="{% static 'assets/js/lightbox-plus-jquery.min.js'%}"></script>
  <script src="{% static 'assets/js/imagesloaded.min.js'%}"></script>
  <script src="{% static 'assets/js/masonry.js'%}"></script>
  <script src="https://player.vimeo.com/api/player.js"></script>
{% endblock %}