{% extends 'base.html' %}
{% load static %}

{% block title %}
ProFotoVideo | Fotografii, filmari si albume pentru nunti, botezuri, etc.
{% endblock title %}

{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'assets/css/hero.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/photos.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plans.css' %}">
  
  <link rel="stylesheet" href="{% static 'assets/css/vendor/photoswipe.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/vendor/photoswipe-skin.css' %}">
{% endblock %}

{% block content %}

<script src="{% static 'assets/js/hideNavigation.js'%}"></script>

<section id="hero">
  <div class="hero-text">
    <h1 id="hero-title">ProFotoVideo</h1>

    <div id="hero-info">
      <div class="hero-description">
        Servicii profesionale de filmări HD sau 4K, fotografii și albume pentru cele mai frumoase amintiri din viața ta.
      </div>

      <div class="links-group">
        <a class="photo-link" href="{% url 'photo' %}">
          Foto 
          <img src="{% static 'assets/images/photo-camera.svg' %}" alt="Photo Camera Icon" class="icon">
        </a>

        <a class="video-link" href="{% url 'video' %}">
          Video
          <img src="{% static 'assets/images/play-button.svg' %}" alt="Video Icon" class="icon">
        </a>

        <a class="albums-link" href="{% url 'albums' %}">
          Albume
          <img src="{% static 'assets/images/album.svg' %}" alt="Album Icon" class="icon">
        </a>
      </div>
    </div>
  </div>

  <img src="{% static 'assets/images/hero-small.jpg' %}" srcset="
    {% static 'assets/images/hero-large.jpg' %} 2000w, 
    {% static 'assets/images/hero-medium.jpg' %} 1500w, 
    {% static 'assets/images/hero-small.jpg' %} 1000w
  " sizes="100vw" draggable="false" alt="Photo Camera Illustration" class="hero-image">

  <button id="scrolldown-btn"><img class="icon" src="{% static 'assets/images/arrow.svg' %}"></button>
</section>

<div class="hr"></div>

<h2 class="title">Fotografii</h2>

<section id="photos" data-pswp>
  {% for photo in photos %}
    <div class="photo-container">
      <a href="{{ photo.url }}">
        <img class="photo lazyload" data-src="{{ photo.url }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="photo">
      </a>
    </div>
  {% endfor %}
</section>

<div class="hr"></div>

<h2 class="title">Pachete</h2>

<section class="plans">
  <div class="plan" id="standard">
    <h3>Pachet Standard</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD sau 4K</p>
    <p>Poze nelimitate</p>
  </div>

  <div class="plan" id="premium">
    <h3>Pachet Premium</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD sau 4K</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x copii DVD pentru nasi</p>
  </div>

  <div class="plan" id="gold">
    <h3>Pachet Gold</h3>
    <p>1 Cameraman</p>
    <p>1 Fotograf</p>
    <p>Filmare HD sau 4K</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x albume pentru nasi 20x40</p>
    <p>2x copii DVD pentru nasi</p>
    <p>Sedinta foto Trash The Dress</p>
  </div>

  <div class="plan" id="platinum">
    <h3>Pachet Platinum</h3>
    <p>2 Cameramani</p>
    <p>1 Fotograf</p>
    <p>Filmare HD sau 4K</p>
    <p>Poze nelimitate</p>
    <p>Album miri 30x60, 15 pagini</p>
    <p>2x albume pentru nasi 20x40</p>
    <p>2x copii DVD pentru nasi</p>
    <p>Sedinta foto Trash The Dress</p>
    <p>Filmare cu drona</p>
    <p>1x stick USB de 64GB</p>
  </div>
</section>
{% endblock %}

{% block extrascripts %}
  <script src="{% static 'assets/js/scrolldown.js'%}"></script>

  <script src="{% static 'assets/js/lazysizescfg.js'%}"></script>
  <script src="{% static 'assets/js/vendor/lazysizes.min.js'%}"></script>

  <script src="{% static 'assets/js/vendor/masonry.min.js'%}"></script>
  <script src="{% static 'assets/js/photosLayout.js'%}"></script>

  <script src="{% static 'assets/js/vendor/photoswipe.min.js'%}"></script>
  <script src="{% static 'assets/js/vendor/photoswipe-ui-default.min.js'%}"></script>
  <script src="{% static 'assets/js/vendor/photoswipe-simplify.min.js'%}"></script>
  <script src="{% static 'assets/js/photoswipe-init.js'%}"></script>

  <script src="https://player.vimeo.com/api/player.js"></script>
{% endblock %}