{% extends 'base.html' %}
{% load static %}

{% block title %}
ProFotoVideo | Foto
{% endblock title %}

{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/photos.css' %}">
{% endblock %}

{% block content %}
<h2 class="title" id="photos-title">Fotografii</h2>

<section id="photos">
  {% for photo in photos %}
    <div class="photo-container">
      <a href="{{ photo.url }}" data-lightbox="photo">
        <img class="photo" src="{{ photo.url }}" alt="photo">
      </a>
    </div>
  {% endfor%}
</section>
{% endblock %}

{% block extrascripts %}
  <script src="{% static 'assets/js/lightbox-plus-jquery.min.js'%}"></script>
  <script src="{% static 'assets/js/imagesloaded.min.js'%}"></script>
  <script src="{% static 'assets/js/masonry.js'%}"></script>
{% endblock extrascripts %}