{% extends 'base.html' %}
{% load static %}

{% block title %}
ProFotoVideo | Video
{% endblock title %}

{% block extrastyles %}
  <link rel="stylesheet" href="{% static 'assets/css/carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/videos.css' %}">
{% endblock %}

{% block content %}
<h2 class="title" id="videos-title">Videoclipuri</h2>

<section id="videos">
  <div id="video-carousel">
    {% for video in videos %}
      <iframe data-src="{{ video.url }}" class="video lazyload" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% block extrascripts %}
  <script src="https://player.vimeo.com/api/player.js"></script>
  <script src="{% static 'assets/js/carousel.min.js'%}"></script>
  <script src="{% static 'assets/js/lazysizes.min.js'%}"></script>
  <script src="{% static 'assets/js/videos.js'%}"></script>
{% endblock extrascripts %}