html {
  background-color: #111;
}

body {
  color: #bbb;
}

#container {
  background-color: #111;
}

#content > h1 {
  color: #eee;
}

#header {
  background: #222;
  color: #ffe343;
}

#branding h1 {
  color: gold;
}

#user-tools a:focus, 
#user-tools a:hover {
  color: #fff1a4;
  border-bottom-color: #fff1a4;
}

.object-tools a:link, 
.object-tools a:visited {
  background-color: #333;
}

.object-tools a:focus, 
.object-tools a:hover {
  background-color: #2c9ac5;
}

a:focus,
a:hover {
  color: #39c6fd;
}

div.breadcrumbs {
  background: #333;
  color: #bbb;
}

div.breadcrumbs a:hover {
  color: #bbb;
}

div.breadcrumbs a {
  color: #f5f5f5;
}

.module,
#content-related {
  background: #222;
}

#content-related .module h2,
#content-related .module h3 {
  color: #ccc;
}

th, td {
  border-bottom-color: #444;
}

.module h2, .module caption {
  background: #191919;
}

.required label, label.required {
  color: #ccc !important;
}

input {
  background-color: #151515;
  color: #ccc;
  border-color: #555 !important;
}

textarea {
  background-color: #151515;
  color: #ccc;
  border-color: #555 !important;
  max-height: 270px !important;
}

.submit-row {
  background: #151515 !important;
  border: 1px solid #444 !important;
}

#changelist #toolbar {
  background: #222 !important;
}

#changelist #toolbar form input {
  color: #bbb !important;
}

#changelist #toolbar form input[type="submit"] {
  background: #191919 !important;
}

#changelist .actions select {
  background: #333 !important;
  color: #eee !important;
  border-color: #aaa !important;
}

#changelist .actions .button {
  background: #333 !important;
  color: #eee !important;
}

#changelist .actions,
#changelist .paginator {
  background: #191919 !important;
}

thead th {
  background: #222 !important;
}

.row1 {
  background: #292929;
}

.row2 {
  background: #1b1b1b;
}

#changelist table tbody tr.selected {
  background: #213f3f;
  background-color: #212e3f !important;
}

#changelist-filter {
  background: #222 !important;
  border-left: 1px solid #aaa !important;
}

#changelist-filter a:focus, 
#changelist-filter a:hover, 
#changelist-filter li.selected a:focus, 
#changelist-filter li.selected a:hover {
  color: skyblue !important;
}

.selector .selector-available h2 {
  background: #222 !important;
  color: #eee !important;
}

.selector .selector-filter {
  background: #1f1f1f !important;
}

.selector-chosen h2 {
  background-color: #083968 !important;
}

.selector ul.selector-chooser {
  background: #111 !important;
}

a.selector-chooseall, 
a.selector-clearall {
  color: #f5f5f5 !important;
}

select {
  background: #222;
  color: #eee;
}

.button, 
input[type="submit"], 
input[type="button"], 
.submit-row input, 
a.button {
  background: #2370b8 !important;
}

.submit-row input.default {
  background: #083968 !important;
}

.calendarbox, .clockbox {
  background: #222 !important;
  border: 1px solid #333 !important;
}

.calendar table {
  background: #222 !important;
}

.calendar td a, .timelist a {
  color: #aaa !important;
}

.calendar td.nonday {
  background: #292929 !important;
}

.calendar td a:focus, .timelist a:focus, .calendar td a:hover, .timelist a:hover {
  background: #083968 !important;
}

.calendar th {
  background: #353535 !important;
  color: #bbb !important;
}

.calendar-shortcuts {
  background: #1f1f1f !important;
}

.calendar-cancel {
  background: #151515 !important;
}

.calendar-cancel:focus, .calendar-cancel:hover {
  background: #222 !important;
}

.calendar-cancel a {
  color: #eee !important;
}

body.login {
  background: #111 !important;
}

.login #container {
  background: #222 !important;
}

.login .submit-row {
  border: none !important;
  background: transparent !important;
}