.photo:hover {
  transform: translateY(-5px);
  filter: grayscale(80%);
}

.featured-photos {
  max-width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
}

.featured-photos a {
  margin: 20px;
}

.featured-photos .photo {
  max-width: 400px;
  border-radius: 5px;
  cursor: zoom-in;
  transition: all 0.2s;
  overflow: hidden;
  border: 2px solid;
}

.photos {
  width: 85%;
  margin: auto;
  column-count: 5;
  column-gap: 30px;
}

.photos .photo {
  margin: 15px;
  width: 100%;
  height: auto;
  max-width: 700px;
  border-radius: 5px;
  cursor: zoom-in;
  transition: all 0.2s;
  overflow: hidden;
  border: 2px solid;
}

#photos-title {
  margin-top: 120px;
}

@media only screen and (max-width: 1600px) {
  .photos {
    column-count: 4;
  }
}

@media only screen and (max-width: 1300px) {
  .photos {
    column-count: 3;
  }
}

@media only screen and (max-width: 900px) {
  .photos {
    column-count: 2;
  }
}

@media only screen and (max-width: 500px) {
  .photos {
    column-count: 1;
  }
}