.featured-video .video {
  padding: 56.25% 0 0 0;
  position: relative;
}

iframe {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: calc(100% - 83px);
}

#videos-title {
  margin-top: 120px;
}

@media only screen and (orientation: portrait) {
  iframe {
    height: 100%;
  }
}